<% if profile.person? %>
  <h1><%= _('Invite your friends') %></h1>
<% else %>
  <h1><%= _('Invite your friends to join %s') % profile.name %></h1>
<% end %>

<h2><%= _('Step 1 of 2: Select address book') %></h2>

<%= form_tag do %>

  <%= [
        radio_button_tag(:import_from, "manual", @import_from == "manual", :onclick => 'hide_invite_friend_login_password()') + content_tag('label', _('Manually (empty field)'), :for => "import_from_manual"),
        radio_button_tag(:import_from, "gmail", @import_from == "gmail", :onclick => 'show_invite_friend_login_password(this.value)') + content_tag('label', 'Gmail', :for => 'import_from_gmail'),
        radio_button_tag(:import_from, "yahoo", @import_from == "yahoo", :onclick => 'show_invite_friend_login_password(this.value)') + content_tag('label', 'Yahoo', :for => "import_from_yahoo"),
        radio_button_tag(:import_from, "hotmail", @import_from == "hotmail", :onclick => 'show_invite_friend_login_password(this.value)') + content_tag('label', 'Hotmail', :for => "import_from_hotmail")
      ].join("\n<br/>\n") %>

  <script type="text/javascript">
    function hide_invite_friend_login_password() {
      $('invite-friends-login-password').hide();
    }
    function show_invite_friend_login_password(option) {
      if (option == 'hotmail') {
        $('hotmail_username_tip').show();
      } else {
        $('hotmail_username_tip').hide();
      }
      $('invite-friends-login-password').show();
      $('login').focus();
    }
  </script>
  <div id='invite-friends-login-password' <%= "style='display: none;'" if (@import_from == 'manual') %>>
    <div id='hotmail_username_tip'>
      <%= ui_icon('ui-icon-alert') %>
      <%= _('Please type your username in the format yourname@example.com') %>
    </div>

    <%= labelled_form_field(_("Username") + ":", text_field_tag(:login, @login)) %>
    <%= labelled_form_field(_("Password") + ":", password_field_tag(:password)) %>
  </div>

  <% button_bar do %>
    <%= submit_button(:forward, _("Next")) %>
  <% end %>
  <p><%= _("We won't store your password or contact anyone without your permission.") %></p>
<% end %>

<div id="loadingScreen"></div>



