<%= search_page_title( @titles[@asset], @category ) %>

<%= render :partial => 'search_form', :locals => { :hint => _("Type words about the %s you're looking for") % @asset.to_s.singularize } %>
<%= render :partial => 'results_header' %>

<%= display_results(@searches, @asset) %>
<% if params[:display] != 'map' %>
  <%= pagination_links @searches[@asset][:results] %>
<% end %>

<div style="clear: both"></div>

<% if @asset == :product %>
  <%= javascript_tag do %>
    jQuery('.search-product-price-details').altBeautify();
  <% end %>
<% end %>
