<div id='display-product-name'>
  <h2><%= @product.name_with_unit %></h2>
  <%= edit_product_link_to_remote(@product, 'name', _('Edit name and unit'), :title => _('Click here to edit the name of your product and the unit')) %>
</div>
<%= javascript_tag do %>
  $$('#display-product-category .hierarchy-category')[0].update('<%=
    escape_javascript(hierarchy_category_navigation(
      @product.product_category,
      :make_links => false,
      :hide_current_category => @product.name_is_blank?)
    )
  %>')
<% end %>
