<div class="login-box">

<h2><%= _('Login') %></h2>

<% @user ||= User.new %>
<% is_thickbox ||= false %>

<%= @message %>

<%= labelled_form_for :user, :url => login_url do |f| %>

     <%= f.text_field :login, :id => 'main_user_login', :onchange => 'this.value = convToValidLogin( this.value )', :value => params[:userlogin] %>

     <%= f.password_field :password %>

     <%= @plugins.dispatch(:login_extra_contents).collect { |content| instance_eval(&content) }.join("") %>

     <% button_bar do %>
       <%= submit_button( 'login', _('Log in') )%>
       <% if is_thickbox %>
         <%= thickbox_close_button(_('Cancel')) %>
       <% end %>
     <% end %>

<% end %>

<% button_bar do %>
  <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
    <%= button :add, _("New user"), :controller => 'account', :action => 'signup' %>
  <% end %>

  <% unless @plugins.dispatch(:allow_password_recovery).include?(false) %>
    <%= button :help, _("I forgot my password!"), :controller => 'account', :action => 'forgot_password' %>
  <% end %>
<% end %>

</div><!-- end class="login-box" -->

